<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtz.ht.order.service.order.dao.OrderLogDao" >
<!-- Result Map com.qtz.dm.index.vo.OrderLog-->
<resultMap id="BaseResultMap" type="com.qtz.ht.order.spi.order.vo.OrderLog" >
	 <result column="dmId"  property="dmId"/> 
<result column="orderId"  property="orderId"/> 
<result column="time"  property="time"/> 
<result column="status"  property="status"/> 
<result column="notes"  property="notes"/> 
	
</resultMap>

<!-- ht_order_log table all fields -->
<sql id="Base_Column_List" >
	 t.dmId,t.orderId,t.time,t.status,t.notes
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<where>
	<if test="dmId != null  ">
		 and t.dmId=#{dmId}
	</if>
	<if test="orderId != null  ">
		 and t.orderId=#{orderId}
	</if>
	<if test="time != null  ">
		 and t.time=#{time}
	</if>
	<if test="status != null  ">
		 and t.status=#{status}
	</if>
	<if test="notes != null  and notes != '' ">
		 and t.notes=#{notes}
	</if>

</where>
</sql>
   

<!-- 插入记录 [说明：如果要返回当前对象，需要如下配置：<insert id="addVo" parameterType="Object" useGeneratedKeys="true" keyProperty="id">] -->
<insert id="addVo" parameterType="Object" >
  insert into ht_order_log(dmId,orderId,time,status,notes)
 values(#{dmId},#{orderId},#{time},#{status},#{notes})
</insert>
<!--批量插入记录 -->
<insert id="addList" parameterType="java.util.List">
  insert into ht_order_log(dmId,orderId,time,status,notes) values
   <foreach collection="list" item="item" index="index" separator=",">
	  (
	  	 #{item.dmId},#{item.orderId},#{item.time},#{item.status},#{item.notes}
	  )
	  </foreach> 
</insert>


<!-- 删除记录 -->
<delete id="delId" parameterType="Object">
	delete 	 from ht_order_log where dmId = #{dmId}
</delete>
<!--批量删除-->
<delete id="delIds" parameterType="java.lang.String">
	delete 	 from ht_order_log where dmId in 
	<foreach item="idItem" collection="array" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>
<!--批量删除-->
<delete id="delList" parameterType="java.util.List">
	delete 	 from ht_order_log where dmId in 
	<foreach item="idItem" collection="list" index="index" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>

<!-- 根据id，修改记录-->  
 <update id="modVo" parameterType="Object" >
  update ht_order_log set orderId=#{orderId},time=#{time},status=#{status},notes=#{notes} where dmId=#{dmId}
 </update>
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="modVoNotNull" parameterType="Object" >
	update ht_order_log set 
	<trim  suffixOverrides="," >
	<if test="orderId != null  ">
		orderId=#{orderId},
	</if>
	<if test="time != null  ">
		time=#{time},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="notes != null  and notes != '' ">
		notes=#{notes},
	</if>
	</trim> where dmId=#{dmId}
</update>


 
<!-- 根据id查询 订单日志 -->
<select id="findVo"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from ht_order_log t where t.dmId = #{dmId}
</select>

<!-- 订单日志 列表总数-->
<select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from ht_order_log t 
	<include refid="Example_Where_Clause"/>
</select>

<!-- 分页查询订单日志列表 -->
<select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from ht_order_log t 
	<include refid="Example_Where_Clause"/>
	
	<if test="mysqlOrderCondition != null and mysqlOrderCondition != ''" >
     	${mysqlOrderCondition} 
    </if>
</select>

<!-- 查询订单日志列表 -->
<select id="findList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from ht_order_log t 
	<include refid="Example_Where_Clause"/>
</select>

<select id="findByOrderId" resultMap="BaseResultMap"  parameterType="Object">
	select <include refid="Base_Column_List"/> 
	from ht_order_log t where t.orderId=#{orderId}
</select>


<!-- 根据订单id 更新不为null 字符 -->
<update id="updateOrderLogByOrderIdNotNull" parameterType="Object">
	update ht_order_log set 
	<trim  suffixOverrides="," >
	<if test="orderId != null  ">
		orderId=#{orderId},
	</if>
	<if test="time != null  ">
		crtime=#{crtime},
	</if>
	
	<if test="status != null  ">
		status=#{status},
	</if>
	
	</trim> where orderId=#{orderId}
</update>
</mapper>