<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM 
          "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 控制台输出 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="${log.level}" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n" />
		</layout>
	</appender>
	<!-- 每个文件最大为100MB,支持10个文件 -->
	<appender name="rollingInfoFile" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="${log.info.file}" />
		<param name="MaxFileSize" value="104857600" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>
	<!-- 每个文件最大为10MB,支持10个文件 -->
	<appender name="rollingErrorFile" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="${log.error.file}" />
		<param name="MaxFileSize" value="10485760" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>
	<!-- 配置控制台与文件日志 -->
	<root>
		<priority value="${log.level}" />
		<appender-ref ref="console"/>
		<appender-ref ref="rollingInfoFile" />
		<appender-ref ref="rollingErrorFile" />
	</root>
</log4j:configuration>